// Menu
#include"resource.h"
IDR_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN 
		MENUITEM "&New",			IDM_FILE_NEW
		MENUITEM "&Open",			IDM_FILE_OPEN
		MENUITEM "&Save",			IDM_FILE_SAVE
		MENUITEM "&SavaAs",			IDM_FILE_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM "E&xit",			IDM_FILE_EXIT
	END
	POPUP "&Edit"
	BEGIN 
		MENUITEM "&Undo",			IDM_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "C&ut",			IDM_EDIT_CUT
		MENUITEM "&Copy",			IDM_EDIT_COPY
		MENUITEM "&Paste",			IDM_EDIT_PASTE
		MENUITEM "De&lete",			IDM_EDIT_DELETE
	END	
	POPUP "&Background"
	BEGIN 
		MENUITEM "&White",			IDM_BACKGROUND_WHITE,CHECKED
		MENUITEM "&Light Gray",		IDM_BACKGROUND_LIGHTGRAY
		MENUITEM "&Gray",			IDM_BACKGROUND_GRAY
		MENUITEM "&Dark Gray",		IDM_BACKGROUND_DARKGRAY
		MENUITEM "&Black",			IDM_BACKGROUND_BLACK
	END	
	POPUP "&Timer"
	BEGIN 
		MENUITEM "&Start",			IDM_TIMER_START
		MENUITEM "S&top",			IDM_TIMER_STOP,GRAYED
	END	
	POPUP "&Help"
	BEGIN 
		MENUITEM "&Help...",		            IDM_HELP_HELP
		MENUITEM "&About MenuDemo...",			IDM_HELP_ABOUTMENUDEMO
	END	
END


